<form class="form">
    <label>Employee name</label><br>
    <input [(ngModel)]="emp.name" type="text" placeholder="Enter Name" name="employee_name"><br>
  
    <label>Employee salary</label><br>
    <input [(ngModel)]="emp.salary" type="text" placeholder="Enter Salary" name="employee_salary"><br>
  
    <label>Employee age</label><br>
    <input [(ngModel)]="emp.age" type="text" placeholder="Enter age" name="employee_age"><br><br>

    <button class="btn btn-success" (click)="addemp(emp)" routerLink="/employeelist">Add</button>
</form>