<h2>Employeelist</h2>

    <button routerLink="/add">Add</button>
<table class="table table-dark" style="border: 1px solid red">
   
    <thead class="thead-dark">
    <tr>
        <th>No</th>
        <th>Id</th>
        <th>EmployeeName</th>
        <th>EmployeeSalary</th>
        <th>EmployeeAge</th>
        <th>Action</th>
    </tr>
    </thead>
    <tr *ngFor="let n of EmpData; index as i">
      <td>{{i+1}}</td>
      <td>{{n.id}}</td>
      <td>{{n.employee_name}}</td>
      <td>{{n.employee_salary}}</td>
      <td>{{n.employee_age}}</td>
      <td><button (click)="setIdUpdate(n.id)" routerLink="/employeelist/:id">Update</button>
      <button (click)="delete(n.id)">Delete</button></td>

    </tr>
</table>

